# Virtual Environment
venv/

# Dataset (too large for GitHub)
dataset/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# Node
node_modules/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db